<div class="container" style="background: black">
  <form>
    <div class="row rowextend align-items-center pt-2">
      <div class="col-md-10">
        <img class="imagehead" src="assets/Fanconvo-header-logo.png">
      </div>
      <div class="col-md-1">Sign Up</div>
      <div class="col-md-1">Login</div>
      <div class="row m-0 rowextend">
        A market place for converstion menterships and performance
      </div>
    </div>

    <div class="containerextend p-2">
      <div class="tabsetting">
      <ul class="nav justify-content-center">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active">FAN SIGNUP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">TALENT SIGNUP</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
      </ul>
    </div>


      <div class="containerextend1 p-2">
        <div class="heading"> Create Your Fan Account</div>
        <div class="form-group ">
          <label class="form-control">First name :
          </label>
          <input placeholder="First name" type="text">
        </div>
        <div class="form-group">
          <label class="form-control">Last name :
          </label>
          <input placeholder="Last name" type="text">
        </div>
        <div class="form-group">
          <label class="form-control">User name :
          </label>
          <input placeholder="User name" type="text">
        </div>
        <div class="form-group">
          <label class="form-control">Email :
          </label>
          <input placeholder="User name" type="text">
        </div>

        <div class="form-group">
          <label class="form-control">TimeZone :
          </label>
          <input placeholder="User name" type="text">
        </div>
        <div class="form-group">
          <label class="form-control">Password:
          </label>
          <input placeholder="User name" type="text">
        </div>
      </div>

    </div>

  </form>
</div>